<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='css/main.css')
		title День в фото
	body
		.container
			section.photos
				.photos__header
					h1.photos__header-title день в фото
					span.photos__header-line
				.photos__current
					figure.photos__current
						img.image-fit(src="./img/1.png", alt="...")
						figcaption Мельницы маленькой деревушки Brandmill близи курортного австрийского города Mayerhoffen.
					span.photos__current--author Фото: Reuters
					span.photos__current-date
						| 21 
						span.photos__current-date--month сентября
				.photos__calendar
					img.photos__adv--overflowed(src="./img/adv-2.jpg", alt="...")
					//- sm
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_1
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_2
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_3
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_4
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_1
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_2
					//-md
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_1
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_2
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_3
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_4
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_5
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_6
					//-tab
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_1
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_2
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_3
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_4
					.photos__adv.photos__adv--hor
						img.photos__adv-image(src="./img/adv-1.jpg", alt="...")
						.photos__adv-text
							span.photos__adv-teaser Рекламный тизер
							span.photos__adv-name Театральная паутина
							span.photos__adv-info Открытие новых сервисных центров немекого автопрома
					span.photos__calendar-block.photos__calendar-block--date 
						| 20
						span.photos__calendar-block--month сентября
					//-sm
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_2
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_3
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_1
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_4
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_2
					//-md
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_7
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_8
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_9
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_10
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_11
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_12
					//-tab
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_5
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_6
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_7
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_8
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_9

					span.photos__calendar-block.photos__calendar-block--date 
						| 19
						span.photos__calendar-block--month сентября
					//-sm
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_1
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_1
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_2
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_3
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_1
					span.photos__calendar-block.photos__calendar-block--sm.bg-sm_list_4
					//-md
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_13
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_14
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_15
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_16
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_17
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_18
					//-tab
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_10
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_11
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_12
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_13
					span.photos__calendar-block.photos__calendar-block--md.photos__calendar-block--tab.photos__calendar-block--date 
						| 18
						span.photos__calendar-block--month сентября
					//-md
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_19
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_20
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_21
					img.photos__adv--overflowed.photos__adv--tab(src="./img/adv-3.jpg", alt="...")
					//-tab
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_14
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_15
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_16
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_17
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_18
					span.photos__calendar-block.photos__calendar-block--md.photos__calendar-block--tab.photos__calendar-block--date 
						| 17
						span.photos__calendar-block--month сентября
					span.photos__calendar-block.photos__calendar-block--md.bg-md_list_22
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_19
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_20
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_21
					span.photos__calendar-block.photos__calendar-block--tab.bg-tab_list_22
				.photos__pagination-wrap
					span.photos__pagination-text Страницы:
					ul.photos__pagination
						li 
							a.photos__pagination-link.photos__pagination-link--current 1
						li 
							a.photos__pagination-link 2
						li 
							a.photos__pagination-link 3
						li 
							a.photos__pagination-link 4
						li 
							a.photos__pagination-next Следующая